<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
     http://www.springframework.org/schema/rabbit
     http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="demo.rabbitmq"/>

    <!--配置connection-factory，指定连接rabbit服务器 的参数 -->
    <rabbit:connection-factory id="connectionFactory"
                               username="admin" password="admin" host="192.168.52.128" port="5672" />

    <!--定义rabbit template用于消息的接收和发送 -->
    <rabbit:template id="amqpTemplate"
                     connection-factory="connectionFactory"
                     exchange="exchangeTest" />
    <rabbit:admin connection-factory="connectionFactory" />

    <!--
定义名称为queueTest的队列，
durable="true"：持久队列，auto-delete="false"：不自动删除
-->
    <rabbit:queue name="queueTest" durable="true" auto-delete="false"
                  exclusive="false" />

    <!-- 定义direct类型的交换器，绑定 binding key：queueTest -->
    <rabbit:direct-exchange name="exchangeTest"
                            durable="true" auto-delete="false">
        <rabbit:bindings>
            <rabbit:binding queue="queueTest" key="queueTestKey">
            </rabbit:binding>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!-- 消息接收者 -->
    <bean id="messageReceiver"
          class="demo.rabbitmq.MessageConsumer">
    </bean>

    <!-- queue litener 观察 监听模式
当有消息到达时会通知监听在对应的队列上的监听对象
-->
    <rabbit:listener-container connection-factory="connectionFactory">
        <rabbit:listener queues="queueTest" ref="messageReceiver" />
    </rabbit:listener-container>
</beans>